.footer {
    margin: 15px;
    background-color:  #133664;
    
}

.footer-copyright2 {
    color: #fff;

}

.title-pill {
    position: relative;
    display: inline-block;
    padding: .25rem .875em;
    border-radius: 50rem;
    font-weight: normal;
}

.title-pill-secondary {
    color: #fff;
    background-color: #f3416e;
}

.title-pill-secondary2 {
    color: #fff;
    background-color: #6ab0f1;
}

.title-pill-secondary a {
    color: #fff;
}



