.serviceColum {
    background-color: #F7F6F3;
    margin-left: 1%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
}

.serviceImg {
    height: 200px;
    margin-bottom: 10%;
    margin-top: 10%;
    
}